<table align=center style="width:1000px; position: absolute; top: 0; bottom: 0; left: 0; right: 0;">
    <tr>
      <td align=left>
        <div location="title">title label</div>
      </td>
      <td align=right rowspan=2>
        <div location="backButton">back button</div>
      </td>
    </tr>
    <tr>
      <td align=left>
        <div location="info">issue info</div>
      </td>
    </tr>
    <!-- Use vertical layout to handle dynamic display -->
    <tr>
        <td align=center colspan="2">
            <div location="commentsRoot">
                Here is the discussion board
            </div>
        </td>
    </tr>
    <!-- Page only shows when needed. -->
    <tr>
        <td align=center colspan="2">
            <div location="issuePageNavigator">
                Here is the page navigator
            </div>
        </td>
    </tr>
</table>