
.DS_Store
project-manager/.DS_Store
project-manager/.vagrant/machines/default/virtualbox/action_provision
project-manager/.vagrant/machines/default/virtualbox/action_set_name
project-manager/.vagrant/machines/default/virtualbox/creator_uid
project-manager/.vagrant/machines/default/virtualbox/id
project-manager/.vagrant/machines/default/virtualbox/index_uuid
project-manager/.vagrant/machines/default/virtualbox/private_key
project-manager/.vagrant/machines/default/virtualbox/synced_folders
project-manager/.vagrant/machines/default/virtualbox/vagrant_cwd
