html{
  max-width: 800px;
  font-family: sans-serif;/
  background-image: "../CH6/bats.gif";
  background-image: url("../CH6/bats.gif");
}


body{
  padding: 0px;



    top: 0%;
    left: 0%;

  width: 90%;
  background-color: white;
  border-color: black;
  border: 1px;
  border-style: solid;
  box-shadow: 10px 10px 10px 10px;
  margin: auto;
}

.timelineProgressBar{
  border: solid;
  max-width: 100%;
  background-color: blue:
}

.projectDescription{
  border: solid;
  max-width: 80%;

}

.projectRequirmentDiv{
  border: solid;
  max-width: 90%;
}

.requirement_submenu{
  border: solid;
  max-width: 50%;
}


.recently_used{
  border: solid;
  max-width: 50%;
}

#orange {
  font-size: 200%;
  font-weight: bold;

}

.motivational_image{
  max-width: 80%;
  max-height: 80%;
  margin-bottom: 10%;
  margin-top: 5%;
}

.p_buffer{
  margin-left: 10%;
}


#bigOne ::first-letter {
  font-size: 300%
}
#orangeLink{
  color: orange;
}
}
h1,h2,h3{
  font-size: 125%;
}
li.orangeToo a:hover{
  color: green;
  float: left;
}
li.orangeToo a {
  color: orange;
  font-weight: bold;
float: left;}






#firstLine{
  font-size: 200%;
}
#secondLine{
  margin-left: 70px;
}

  h1.pumpkinImage {
      float: left;
  }
  header.headGrad{
    background: linear-gradient(45deg,white,orange,black);

    border-style: solid;
    border-color: black;

  }

div.test{
border-style: solid;
border-color: black;
padding: 0;


}


header{
background: linear-gradient(45deg,white,orange,black);
}
#titleLine{font-size: 200% ; }
#titleLine2{font-size: 100%; font-weight: bold;}
#pumpkinTop{
  float: left;
  padding: 1em;
}

.container {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    margin-left: 1em;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: orange;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}





aside.left{
  float: left;
  padding-top: 0;
  width: 20%;
  margin-right: 3%;
}
#vertList nav{
  float: left;
  width: 20%;

}

#vertList ul{
  list-style-type: none;
  margin-left: 0em;
  margin-bottom: 1.5em;
}
#vertList ul li{
  width: auto;
  margin-bottom: .5em;
  border: solid black;
}

#vertList ul li a{
  display: block;
  padding: .5em 0 .5em 1.5em;
  text-decoration: none;
  font-weight: bold;
  background-color: orange;
  color: black;
}

div.two{


margin-left: 25%;
max-width: 75%;
padding-left: 2%;

}

footer.footGrad{
  background: linear-gradient(45deg,black,orange,white);
  font-size: 75%;
  text-align: center;
  border-color: black;
  border-style: solid;
}
