<style>
.side_menu_padding {
  padding-top: 25px; 
  padding-bottom: 25px;  
}

</style>

<table style="background-color: #434345; height: 100%"> 
  <tr>
    <th><div location="Projects" align="center" class="side_menu_padding"></div></th>
  </tr>
  <tr>
    <th><div location="searchProjects" align="center" class="side_menu_padding"></div></th>
  </tr>
  <tr>
    <td><div location="Project_Btn1" align="center" ></div></td>
  </tr>
  <tr>
    <td><div location="Project_Btn2" align="center"></div></td>
  </tr>
  <tr>
    <td><div location="Project_Btn3" align="center"></div></td>
  </tr>
  <tr>
    <td><div location="Project_Btn4" align="center"></div></td>
  </tr>
  <tr>
    <td><div location="Project_Btn5" align="center"></div></td>
  </tr>
  <tr>
    <td><div location="PageNavigator" align="center" class="side_menu_padding"></div></td>
  </tr>
</table>